<ion-header>
    <!-- Search -->
    <ion-searchbar (ionChange)="onSearchChange()" [(ngModel)]="filterText"
                   color="medium"
                   placeholder="Search a movie"></ion-searchbar>
</ion-header>

<ion-content (click)="showMoviesList = false;">
    <!-- Movies List -->
    <ion-list *ngIf="showMoviesList" class="results-list ion-no-padding" lines="full">
        <ion-item (click)="onSelectMovie(movie)" *ngFor="let movie of filteredMovies"
                  color="medium">
            {{movie.title}} ({{movie.year}})
        </ion-item>
    </ion-list>

    <!--    <form #formz (ngSubmit)="confirm()">-->
    <!--        &lt;!&ndash; Title &ndash;&gt;-->
    <!--        <ion-item>-->
    <!--            <ion-label position="floating">Title</ion-label>-->
    <!--            <ion-input type="text" [(ngModel)]="movie.title" name="title" required="true"></ion-input>-->
    <!--        </ion-item>-->
    <!--        &lt;!&ndash; Year &ndash;&gt;-->
    <!--        <ion-item color="light">-->
    <!--            <ion-label position="floating">Year</ion-label>-->
    <!--            <ion-input [(ngModel)]="movie.year" type="number" name="year"></ion-input>-->
    <!--        </ion-item>-->
    <!--        &lt;!&ndash; Actors &ndash;&gt;-->
    <!--        <ion-item>-->
    <!--            <ion-label position="floating">Actors</ion-label>-->
    <!--            <ion-input [(ngModel)]="movie.actors" type="text" name="actors"></ion-input>-->
    <!--        </ion-item>-->
    <!--        &lt;!&ndash; Director &ndash;&gt;-->
    <!--        <ion-item>-->
    <!--            <ion-label position="floating">Director</ion-label>-->
    <!--            <ion-input [(ngModel)]="movie.director" type="text" name="director"></ion-input>-->
    <!--        </ion-item>-->
    <!--        &lt;!&ndash; Seen Status &ndash;&gt;-->
    <!--        <ion-item>-->
    <!--            <ion-label position="floating">Seen Status</ion-label>-->
    <!--            <ion-select [(ngModel)]="movie.seenStatus" name="seenStatus">-->
    <!--                <ion-select-option [value]="SeenStatus.HOME">Home</ion-select-option>-->
    <!--                <ion-select-option [value]="SeenStatus.WATCHLIST">Watchlist</ion-select-option>-->
    <!--                <ion-select-option [value]="SeenStatus.CINEMA">Cinema</ion-select-option>-->
    <!--            </ion-select>-->
    <!--        </ion-item>-->

    <!--        <ion-button type="submit">ADD</ion-button>-->
    <!--    </form>-->


    <!-- Form List -->
    <ion-list lines="none">
        <ion-grid>
            <ion-row class="ion-justify-content-start">
                <ion-col *ngIf="movie.posterUrl !== '../../assets/NoImageAvailable.jpg'" size="auto">
                    <!-- Poster -->
                    <ion-item>
                        <ion-img [src]="movie.posterUrl"></ion-img>
                    </ion-item>
                </ion-col>
                <ion-col class="ion-no-padding">
                    <!-- Title -->
                    <ion-item>
                        <ion-label color="primary" position="floating">Title</ion-label>
                        <ion-input [(ngModel)]="movie.title" type="text"></ion-input>
                    </ion-item>
                    <!-- Year -->
                    <ion-item color="light">
                        <ion-label color="primary" position="floating">Year</ion-label>
                        <ion-input [(ngModel)]="movie.year" type="number"></ion-input>
                    </ion-item>
                    <!-- Genres -->
                    <ion-item *ngIf="movie.genres" class="ion-no-padding">
                        <!--            <ion-label position="floating">Genres</ion-label>-->
                        <ion-chip *ngFor="let genre of movie.genres">{{genre.name}}</ion-chip>
                        <!--            <ion-input [(ngModel)]="movie.genres" type="text"></ion-input>-->
                    </ion-item>
                </ion-col>
            </ion-row>

            <!-- Plot -->
            <ion-item *ngIf="movie.plot" color="light">
                <ion-label style="white-space: break-spaces;">{{movie.plot}}</ion-label>
            </ion-item>
            <!-- Actors -->
            <ion-item>
                <ion-label color="primary" position="floating">Actors</ion-label>
                <ion-input [(ngModel)]="movie.actors" type="text"></ion-input>
            </ion-item>
            <!-- Director -->
            <ion-item color="light">
                <ion-label color="primary" position="floating">Director</ion-label>
                <ion-input [(ngModel)]="movie.director" type="text"></ion-input>
            </ion-item>
            <!-- Seen Status -->
            <ion-item>
                <ion-label color="primary" position="floating">Seen Status</ion-label>
                <ion-select [(ngModel)]="movie.seenStatus">
                    <ion-select-option [value]="SeenStatus.HOME">Home</ion-select-option>
                    <ion-select-option [value]="SeenStatus.WATCHLIST">Watchlist</ion-select-option>
                    <ion-select-option [value]="SeenStatus.CINEMA">Cinema</ion-select-option>
                </ion-select>
            </ion-item>
            <!-- Runtime -->
            <ion-item>
                <ion-label color="primary" position="floating">Runtime</ion-label>
                <ion-input [(ngModel)]="movie.runtime" type="number"></ion-input>
                <!--            <ion-label>{{movie.runtime}}</ion-label>-->
            </ion-item>
        </ion-grid>

    </ion-list>
</ion-content>

<ion-footer>
    <!-- Action Buttons -->
    <ion-buttons>
        <ion-button (click)="getMovie()">
            <ion-icon name="refresh-outline"></ion-icon>
        </ion-button>
        <ion-button (click)="cancel()">Close</ion-button>
        <ion-button (click)="confirm()" color="primary" fill="solid">Create</ion-button>
    </ion-buttons>
</ion-footer>
