ion-searchbar {
    padding-inline-start: 16px;
    padding-inline-end: 16px;
}

ion-content {
    ion-item {
        --inner-padding-end: 0px;

        .main-details-row {
            padding-top: 6px;
            padding-bottom: 6px;

            ion-img { // movie poster
                width: 50px;
                height: auto;
            }

            .movie-title-label {
                margin-bottom: 8px;
                white-space: normal;
            }

            .movie-year-label {
                margin-bottom: 8px;
                width: fit-content; // to avoid a large clickable area
                color: var(--ion-color-medium);
            }

            .show-details-col {
                display: flex;
                justify-content: flex-end;
                align-items: flex-end;

                .chevron-open {
                    transition: 0.3s transform ease-in-out;
                    transform: rotate(180deg);
                }

                .chevron-close {
                    transition: 0.3s transform ease-in-out;
                    transform: rotate(0);
                }
            }
        }
    }

    ion-fab-button { // add movie button
        position: fixed;
        bottom: 30px;
        right: 30px;
    }
}
