ion-searchbar {
    padding-inline-start: 16px;
    padding-inline-end: 16px;
}

ion-img { // movie poster
    width: 50px;
    height: auto;
}

ion-content {
    ion-fab-button { // add movie button
        position: fixed;
        bottom: 30px;
        right: 30px;
    }
}
