ion-searchbar {
    padding-inline-start: 16px;
    padding-inline-end: 16px;
}

ion-content {

    .main-details-row {
        padding-top: 6px;
        padding-bottom: 6px;

        ion-img { // movie poster
            width: 50px;
            height: auto;
        }

        .movie-title-label {
            margin-bottom: 6px;
        }

        .movie-year-label {
            margin-bottom: 6px;
            color: var(--ion-color-medium);
        }
    }

    ion-fab-button { // add movie button
        position: fixed;
        bottom: 30px;
        right: 30px;
    }
}
