<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-grid>
            <ion-row class="ion-justify-content-start">
                <ion-col>
                    <ion-searchbar (ionChange)="onSearchChange($event)" [(ngModel)]="filterText"
                                   placeholder="Search movies"></ion-searchbar>
                </ion-col>
            </ion-row>
            <ion-row class="ion-justify-content-end">
                <ion-col>
                    <ion-label class="ion-padding-start">{{dataSource.length}} movies</ion-label>
                </ion-col>
                <ion-col>
                    <ion-buttons class="ion-justify-content-end">
                        <ion-button class="ion-padding-end" color="danger" fill="solid">Delete Selected</ion-button>
                    </ion-buttons>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-toolbar>
</ion-header>

<ion-content>

    <cdk-virtual-scroll-viewport appendOnly class="virtual-scroll-viewport" itemSize="25">
        <ion-item-sliding #sliding *cdkVirtualFor="let movie of dataSource; trackBy:trackItems">
            <ion-item class="ion-no-padding">
                <ion-grid>
                    <ion-row class="main-details-row">
                        <ion-col size="auto">
                            <ion-img [src]="movie.posterUrl"
                                     (ionError)="onImgLoadError(movie)"></ion-img>
                        </ion-col>
                        <ion-col size="7">
                            <div (click)="$event.stopPropagation()" class="movie-title-label">
                                {{movie.title}}
                            </div>
                            <div (click)="onFilterByYear(movie.year)" class="movie-year-label">
                                {{movie.year}}
                            </div>
                            <ion-label (click)="onFilterByStatus(movie.seenStatus)" class="movie-seen-status-label"
                                       color="primary">
                                {{movie.seenStatus}}
                            </ion-label>
                        </ion-col>
                        <ion-col class="show-details-col">
                            <ion-buttons>
                                <ion-button (click)="onShowDetails(movie, accordionGroup)" color="medium">
                                    <ion-icon [class.chevron-close]="!movie.isExpanded"
                                              [class.chevron-open]="movie.isExpanded"
                                              name="chevron-down-circle-sharp"
                                              slot="icon-only">
                                    </ion-icon>
                                </ion-button>
                            </ion-buttons>
                        </ion-col>
                    </ion-row>
                    <!-- Details row -->
                    <ion-accordion-group #accordionGroup>
                        <ion-accordion value="details">
                            <div class="ion-padding" slot="content">
                                <ion-title class="ion-no-padding" color="medium">Genres</ion-title>
                                <!--                                <ion-label class="ion-text-wrap">{{movie.genres}}</ion-label>-->
                                <ion-chip (click)="onFilterByGenre(genre)"
                                          *ngFor="let genre of movie.genres">{{genre}}
                                </ion-chip>
                                <br>
                                <ion-title class="ion-no-padding" color="medium">Plot</ion-title>
                                <ion-label class="ion-text-wrap">{{movie.plot}}</ion-label>
                                <br>
                                <ion-title class="ion-no-padding" color="medium">Actors</ion-title>
                                <ion-label class="ion-text-wrap">{{movie.actors}}</ion-label>
                                <br>
                                <ion-title class="ion-no-padding" color="medium">Director</ion-title>
                                <ion-label class="ion-text-wrap">{{movie.director}}</ion-label>
                                <br>
                                <ion-title class="ion-no-padding" color="medium">Runtime</ion-title>
                                <ion-label *ngIf="movie.runtime > 0" class="ion-text-wrap">{{movie.runtime}} minutes
                                </ion-label>
                            </div>
                        </ion-accordion>
                    </ion-accordion-group>
                </ion-grid>
            </ion-item>

            <!-- Slide Options -->
            <ion-item-options>
                <ion-item-option>
                    <ion-label class="ion-hide-sm-down">Edit</ion-label>
                    <ion-icon slot="icon-only" name="create-outline"></ion-icon>
                </ion-item-option>
                <ion-item-option (click)="sliding.close(); onDeleteMovie(movie)" color="danger">
                    <ion-label class="ion-hide-sm-down">Delete</ion-label>
                    <ion-icon slot="icon-only" name="trash"></ion-icon>
                </ion-item-option>
            </ion-item-options>
        </ion-item-sliding>
    </cdk-virtual-scroll-viewport>

    <ion-fab>
        <ion-fab-button (click)="onAddMovie()">
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>

</ion-content>
